html {
/* background-color: rgb(196,134,237); */
background-image: linear-gradient(23deg, rgba(196,134,237,0.788953081232493) 0%, rgba(247,161,235,0.5368522408963585) 50%, rgba(124,209,249,0.5984768907563025) 100%);
background-repeat:no-repeat;
background-size:auto;
}

h1 {
    color: green;
}

.navList {
    list-style-type: none;
    display: flex;
    padding: 1em;
    justify-content: space-evenly;
    text-decoration: none;
}

.navList a {
    text-decoration: none;
}

.navList__route {
    margin: 0 0.5em;
}

/* LOGO */
#logo {
    width:40%;
    margin: auto;
}