{% extends 'shared/base.html' %}

{% block content %}

    <h1>Welcome!</h1>
    <p>
    My Little Pony Inventory is an online cataloging system for My Little Pony collectors. By adding all your ponies to your online collection you can then keep a running total of the value of your collection. To get started, simply select a pony from our Add Pony section and add in your own details. Once you've added your new pony it can be viewed in the My Ponies section where you can also make changes to or delete ponies.
    </p>

{% endblock %}