{% extends 'shared/base.html' %}

{% block content %}
    <img src="{{user_pony.pony.img_path}}"></br>
            {{ user_pony.pony.name }}</br>
            Released: {{user_pony.pony.year}}</br>
            Body Color: {{user_pony.pony.body_color}}</br>
            Hair Color: {{user_pony.pony.hair_color}}</br>
            Made In: {{user_pony.pony.country.name}}</br>
            Body Style: {{user_pony.pony.body_style.body}}</br>
            Generation: {{user_pony.pony.generation.name}}</br>
            Details: {{ user_pony.details }}
            <form action="{% url 'ponyapp:user_pony' user_pony.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE">
    <button>Delete</button>
</form>
  {% endblock %}