{% extends 'shared/base.html' %}

{% block content %}
    <img src="{{pony.img_path}}"></br>
            {{ pony.name }}</br>
            Released: {{pony.year}}</br>
            Body Color: {{pony.body_color}}</br>
            Hair Color: {{pony.hair_color}}</br>
            Made In: {{pony.country.name}}</br>
            Body Style: {{pony.body_style.body}}</br>
            Generation: {{pony.generation.name}}</br>
           <button><a href="{% url 'ponyapp:pony_form' pony.id %}" >Add Details</a></button>
{% endblock %}