{% extends 'shared/base.html' %}

{% block content %}
    <h1>Find a Pony</h1>

    {% for pony in all_ponies %}
        <a style="text-decoration:none" href="{% url 'ponyapp:pony' pony.id %}">
        <div> {{ pony.name }}
            <img class="thumbnail" src="{{pony.img_path}}">
            {% comment %} Released: {{pony.year}}
            Body Color: {{pony.body_color}}
            Hair Color: {{pony.hair_color}}
            Country: {{pony.country.name}}
            Body Style: {{pony.body_style.body}}
            Generation: {{pony.generation.name}} {% endcomment %}
        </div>
        </a>
    {% endfor %}
  {% endblock %}