{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Little Pony Inventory</title>

    <style>
        .navList {
            list-style-type: none;
            display: flex;
            border: 1px solid lightgray;
            padding: 1em;
        }

        .navList__route {
            margin: 0 0.5em;
        }
    </style>
</head>

<body>

    <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'ponyapp:home' %}">Home</a></li>
            <li class="navList__route"><a href="{% url 'ponyapp:ponies' %}">Search</a></li>
            {% comment %} <li class="navList__route"><a href="{% url 'ponyapp:my_ponies' %}">My Ponies</a></li> {% endcomment %}
           
            {% if user.is_authenticated %}
                <li class="navList__route"><a href="{% url 'ponyapp:logout' %}">Logout</a></li>
                {% else %}
                    <li class="navList__route"><a href="{% url 'ponyapp:login' %}">Login</a></li>
                    <li class="navList__route"><a href="{% url 'ponyapp:register' %}">Register</a></li>
            {% endif %}
        
            
        </ol>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>