{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Little Pony Inventory</title>
    <link rel="stylesheet" type="text/css" href={% static '/styles/sweet_style.css' %} media="screen"> 
    <link class="center" href="https://fonts.googleapis.com/css?family=Alice&display=swap" rel="stylesheet">

</head>

<body>
<div class="banner">
<img id="logo" src="https://res.cloudinary.com/proplan/image/upload/v1584990335/MLPInventory/MY-LITTLE-PONY-RETRO-LOGO_k4chd4.png"></img></div>

    <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'ponyapp:home' %}">Home</a></li>
            <li class="navList__route"><a href="{% url 'ponyapp:ponies' %}">Add Pony</a></li>
           
            {% if user.is_authenticated %}
                <li class="navList__route"><a href="{% url 'ponyapp:user_pony_list' %}">My Ponies</a></li>
                <li class="navList__route"><a href="{% url 'ponyapp:stats' %}">My Stats</a></li>
                <li class="navList__route"><a href="{% url 'ponyapp:logout' %}">Logout</a></li>
                {% else %}
                    <li class="navList__route"><a href="{% url 'ponyapp:login' %}">Login</a></li>
                    <li class="navList__route"><a href="{% url 'ponyapp:register' %}">Register</a></li>
            {% endif %}
        
            
        </ol>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>